<% layout('homeBoilerplate.ejs') -%>
<body>
  

  <main class="home-content">
    <section class="text-center home-img">
      <h1>Welcome to Job and Internship Portal</h1>
      <p>Your one-stop platform to find and apply for jobs and internships that align with your career goals.</p>
      <img
        src="https://vskills.in/certification/blog/wp-content/uploads/2014/12/internship-a-first-hand-experience-of-job.jpg"
        alt="image" class="d-block mx-auto mt-5 mb-5 img-fluid"  />

    </section>

    <!-- About Us Section -->
    <section id="about-us" class="container my-5">
      <h2 style="color: #404040; font-weight: 700;">About Us</h2>
      <p>Our mission is to connect talented individuals with exciting career opportunities, making it easier for
        recruiters and job seekers to find the perfect match. We aim to bridge the gap between talent and opportunity.
      </p>
    </section>

    <!-- Contact Us Section -->
    <section id="contact-us" class="container my-5">
      <h2 style="color: #404040; font-weight: 700;">Contact Us</h2>
      <p>If you have any questions, feel free to reach out to us at <a
          href="mailto:support@jobandintern.com">support@jobandintern.com</a>.</p>
    </section>
  </main>


</body>

</html>