<% layout('cBoilerplate.ejs') -%>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/jobAndIntern/<%= _id %>/dashboard">
        Job And Internship
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/jobAndIntern/<%= _id %>/jobs">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/jobAndIntern/<%=_id %>/appliedJobs">Applied Jobs</a>
            </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/jobAndIntern/<%= _id %>/profile">My Profile</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  
  <img
    src="https://www.stb.gov.sg/content/stb/en/careers/students-and-fresh-graduates/internship-programme/_jcr_content/mainpar/image_74606086/image.img.png/1639660942825.png"
    alt="image" class="d-block mx-auto mt-5 mb-5 img-fluid">

</body>